<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Terrier by ysugimoto</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="javascripts/respond.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
      <div id="header">
        <nav>
          <li class="fork"><a href="https://github.com/ysugimoto/Terrier">View On GitHub</a></li>
          <li class="downloads"><a href="https://github.com/ysugimoto/Terrier/zipball/master">ZIP</a></li>
          <li class="downloads"><a href="https://github.com/ysugimoto/Terrier/tarball/master">TAR</a></li>
          <li class="title">DOWNLOADS</li>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>Terrier</h1>
          <p>A simple mailform written by PHP</p>
          <hr>
          <span class="credits left">Project maintained by <a href="https://github.com/ysugimoto">ysugimoto</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></span>
        </div>

        <h1>
<a name="terrier-php-mailform-application-beta" class="anchor" href="#terrier-php-mailform-application-beta"><span class="octicon octicon-link"></span></a>Template</h1>

<p>このページではTerrierで利用しているテンプレートエンジンについて解説します。<br>
TerrierのテンプレートエンジンはPHPコードとして即時コンパイルして実行されます。一時ファイルは生成しません。
</p>

<h2>
<a name="features" class="anchor" href="#features"><span class="octicon octicon-link"></span></a>Basic</h2>

<p>テンプレートエンジンはHTML中に<code>"{{XXXX}}"</code>の形式で指定された部分に変数をバインドします。オブジェクトや連想配列の値は<code>"."</code>のシンタックスでアクセスできます。<br>
Terrier側で予めアサインされた以下の値が使用でき、出力する値は全てエスケープされます。</p>

<ul>
<li><code>{{post.フィールド名}}</code> - POSTされた値を出力します。</li>
<li><code>{{get.パラメータキー}}</code> - GETパラメータの値を出力します。</li>
<li><code>{{server.パラメータキー}}</code> - $_SERVERの環境変数の値を出力します。</li>
<li><code>{{value.フィールド名}}</code> - バリデーション通過後のフィールドの値を出力します。</li>
<li><code>{{error.フィールド名}}</code> - バリデーションエラーの文字列を出力します。バリデーションに通過している場合は空文字となります。</li>
<li><code>{{action.input}}</code> - 入力画面へのURLを出力します。</li>
<li><code>{{action.confirm}}</code> - 入力画面へのURLを出力します。</li>
<li><code>{{action.error}}</code> - 入力画面へのURLを出力します。</li>
</ul>

<p>例えば、<code>name</code>フィールドへの値の設置とバリデーションエラーの出力は以下のようになります。</p>

<pre><code>
&lt;input type="text" name="name" value"{{value.name}}"&gt;
&lt;p class="error"&gt;{{error.name}}&lt;/p&gt;
</code></pre>

<p>なお、<code>"{{%アクセス名}}"</code>とすることで、エスケープしない値を出力することも可能ですが、非推奨です。</p>

<h2>
<a name="controls" class="anchor" href="#controls"><span class="octicon octicon-link"></span></a>Controls</h2>

<p>テンプレート中では<code>"if"</code>と<code>"for"</code>の構文が使用できます。判定条件はPHPと同じですが、変数へのアクセスは<code>"isset()"</code>で自動チェックされます。</p>

<pre><code>
// バリデーションエラーがあれば表示する
{{if error.name}}
&lt;p class="error"&gt;{{error.name}}&lt;/&gt;
{{/if}}
</code></pre>

<p>数値判定なども可能です。</p>

<pre><code>
// 選択値が1より大きい場合に文言を表示
{{if value.select &gt; 1}}
&lt;p&gt;選択値が1より大きいです&lt;/&gt;
{{/if}}
</code></pre>

<p>テンプレート内のループ構文は<code>"for"</code>が使えます。内部ではオブジェクト、配列、連想配列に関わらず全てループ可能です。ループ中は<code>"@index"</code>でキーに、<code>"@data"</code>で値にアクセス可能で、ループ対象の値が配列などの場合はそのままドットでアクセスすることが可能です。</p>

<pre><code>
// バリデーションエラー一覧を出力
{{for error}}
&lt;p class="error"&gt;フィールド名：{{@index}}、メッセージ：{{@data}}&lt;/&gt;
{{/for}}
</code></pre>

<p><code>"@parent"</code>でループ中の親オブジェクトにアクセス可能です。</p>

<h2>
<a name="helpers" class="anchor" href="#helpers"><span class="octicon octicon-link"></span></a>Helpers</h2>

<p><code>"{{#ヘルパ関数}}"</code>と記述することで、ヘルパ関数を呼び出すことが可能です。<br>
ヘルパ関数はPHP組み込みの関数の他に、テンプレートディレクトリ内の<code>functions.php</code>で定義した関数を呼び出し可能です。</p>

<pre><code>
// functions.phpで定義した関数を呼び出します
{{#input_hidden_all}}

// PHP組み込みのdate関数を呼び出します。引数を渡す場合は半角スペースに続いて指定します。
{{#date 'Y-m-d'}}
</code></pre>

      </section>

    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    
  </body>
</html>
