<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Terrier mailform sample</title>
        <link href="asset/fonts/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="asset/css/bootstrap-3.1.1.min.css" rel="stylesheet">
        <link href="asset/css/lollies.min.css" rel="stylesheet">
        <link href="asset/css/custom.css" rel="stylesheet">
        <!--[if lt IE 9]>
            <script src="asset/js/html5shiv-3.7.0.js"></script>
            <script src="asset/js/respond-1.4.2.js"></script>
        <![endif]-->
    </head>
    <body>
        <header id="main-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6 headerMatch">
                    <!-- LOGO -->
                    <div id="logo"><a href="/"><img src="http://placehold.it/720x200/149cd7/149cd7" /></a></div>
                </div>
                <div class="col-md-6 headerMatch">
                    <!-- MASTHEAD -->
                    <div id="masthead-container">
                        <div id="masthead">
                            <!-- CALL TO ACTION -->
                            <div class="call"><h1>Lorem ipsum 1800123123</h1><p>Consectetur adipiscing elit</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </header>
        <div class="form-block">
            <div class="container">
                {{if error?}}
                <div class="alert alert-danger">
                    {{for error}}
                    <p>{{@data}}</p>
                    {{/for}}
                </div>
                {{/if}}
                <div class="row">
                    <form method="post" id="custom_form" name="custom_form" action="{{action.confirm}}">
                       <div class="form-group">
                           <label >お名前</label>
                           <input  type="text" id="name" name="name" class="form-control" value="{{value.name}}">
                       </div>
                       <div class="form-group">
                           <label >メールアドレス</label>
                           <input type="text" id="email" name="email" class="form-control" value="{{value.email}}">
                       </div>
                       <div class="form-group">
                           <label><input type="checkbox" name="gender" value="男性"{{if value.gender == '男性'}} checked{{/if}}>男性</label>
                           <label><input type="checkbox" name="gender" value="女性"{{if value.gender == '女性'}} checked{{/if}}>女性</label>
                       </div>
                       <div class="form-group">
                           <label >郵便番号</label>
                           <input type="text" name="zipcode1" class="form-control" value="{{value.zipcode1}}">-
                           <input type="text" name="zipcode2" class="form-control" value="{{value.zipcode2}}">
                       </div>
                       <div class="form-group">
                           <label>都道府県</label>
                           <select name="pref" class="form-control">
                               <option value=""{{if !value.pref}} selected{{/if}}>選択してください</option>
                               <option value="北海道"{{if value.pref == '北海道'}} selected{{/if}}>北海道</option>
                               <option value="青森県"{{if value.pref == '青森県'}} selected{{/if}}>青森県</option>
                               <option value="岩手県"{{if value.pref == '岩手県'}} selected{{/if}}>岩手県</option>
                               <option value="宮城県"{{if value.pref == '宮城県'}} selected{{/if}}>宮城県</option>
                               <option value="秋田県"{{if value.pref == '秋田県'}} selected{{/if}}>秋田県</option>
                               <option value="山形県"{{if value.pref == '山形県'}} selected{{/if}}>山形県</option>
                               <option value="福島県"{{if value.pref == '福島県'}} selected{{/if}}>福島県</option>
                               <option value="茨城県"{{if value.pref == '茨城県'}} selected{{/if}}>茨城県</option>
                               <option value="栃木県"{{if value.pref == '栃木県'}} selected{{/if}}>栃木県</option>
                               <option value="群馬県"{{if value.pref == '群馬県'}} selected{{/if}}>群馬県</option>
                               <option value="埼玉県"{{if value.pref == '埼玉県'}} selected{{/if}}>埼玉県</option>
                               <option value="千葉県"{{if value.pref == '千葉県'}} selected{{/if}}>千葉県</option>
                               <option value="東京都"{{if value.pref == '東京都'}} selected{{/if}}>東京都</option>
                               <option value="神奈川県"{{if value.pref == '神奈川県'}} selected{{/if}}>神奈川県</option>
                               <option value="新潟県"{{if value.pref == '新潟県'}} selected{{/if}}>新潟県</option>
                               <option value="富山県"{{if value.pref == '富山県'}} selected{{/if}}>富山県</option>
                               <option value="石川県"{{if value.pref == '石川県'}} selected{{/if}}>石川県</option>
                               <option value="福井県"{{if value.pref == '福井県'}} selected{{/if}}>福井県</option>
                               <option value="山梨県"{{if value.pref == '山梨県'}} selected{{/if}}>山梨県</option>
                               <option value="長野県"{{if value.pref == '長野県'}} selected{{/if}}>長野県</option>
                               <option value="岐阜県"{{if value.pref == '岐阜県'}} selected{{/if}}>岐阜県</option>
                               <option value="静岡県"{{if value.pref == '静岡県'}} selected{{/if}}>静岡県</option>
                               <option value="愛知県"{{if value.pref == '愛知県'}} selected{{/if}}>愛知県</option>
                               <option value="三重県"{{if value.pref == '三重県'}} selected{{/if}}>三重県</option>
                               <option value="滋賀県"{{if value.pref == '滋賀県'}} selected{{/if}}>滋賀県</option>
                               <option value="京都府"{{if value.pref == '京都府'}} selected{{/if}}>京都府</option>
                               <option value="大阪府"{{if value.pref == '大阪府'}} selected{{/if}}>大阪府</option>
                               <option value="兵庫県"{{if value.pref == '兵庫県'}} selected{{/if}}>兵庫県</option>
                               <option value="奈良県"{{if value.pref == '奈良県'}} selected{{/if}}>奈良県</option>
                               <option value="和歌山"{{if value.pref == '和歌山'}} selected{{/if}}>和歌山</option>
                               <option value="鳥取県"{{if value.pref == '鳥取県'}} selected{{/if}}>鳥取県</option>
                               <option value="島根県"{{if value.pref == '島根県'}} selected{{/if}}>島根県</option>
                               <option value="岡山県"{{if value.pref == '岡山県'}} selected{{/if}}>岡山県</option>
                               <option value="広島県"{{if value.pref == '広島県'}} selected{{/if}}>広島県</option>
                               <option value="山口県"{{if value.pref == '山口県'}} selected{{/if}}>山口県</option>
                               <option value="徳島県"{{if value.pref == '徳島県'}} selected{{/if}}>徳島県</option>
                               <option value="香川県"{{if value.pref == '香川県'}} selected{{/if}}>香川県</option>
                               <option value="愛媛県"{{if value.pref == '愛媛県'}} selected{{/if}}>愛媛県</option>
                               <option value="高知県"{{if value.pref == '高知県'}} selected{{/if}}>高知県</option>
                               <option value="福岡県"{{if value.pref == '福岡県'}} selected{{/if}}>福岡県</option>
                               <option value="佐賀県"{{if value.pref == '佐賀県'}} selected{{/if}}>佐賀県</option>
                               <option value="長崎県"{{if value.pref == '長崎県'}} selected{{/if}}>長崎県</option>
                               <option value="熊本県"{{if value.pref == '熊本県'}} selected{{/if}}>熊本県</option>
                               <option value="大分県"{{if value.pref == '大分県'}} selected{{/if}}>大分県</option>
                               <option value="宮崎県"{{if value.pref == '宮崎県'}} selected{{/if}}>宮崎県</option>
                               <option value="鹿児島県"{{if value.pref == '鹿児島県'}} selected{{/if}}>鹿児島県</option>
                               <option value="沖縄県"{{if value.pref == '沖縄県'}} selected{{/if}}>沖縄県</option>
                           </select>
                       </div>
                       <div class="form-group">
                           <label >住所</label>
                           <input type="text" name="address" class="form-control" value="{{value.address}}">
                       </div>
                       <div class="form-group">
                           <label >内容</label>
                           <textarea type="text" id="message" name="message" class="form-control">{{value.message}}</textarea>
                       </div>
                       <button type="submit" class="btn btn-default" id="submit">Submit</button>
                   </form>
                </div>
            </div>
        </div>
        <div class="copyright-block">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 left">
                        &copy; 2014 Terrier mail form.
                    </div>
                </div>
            </div>
        </div>
        <!-- SCRIPTS -->
        <script src="asset/js/jquery-1.7.2.min.js"></script>
        <script src="asset/js/bootstrap-3.1.1.min.js"></script>
        <script src="asset/plugins/match-height/match-height-0.5.1.min.js"></script>
        <script src="asset/js/lollies.min.js"></script>
    </body>
</html>
                    
