<!doctype html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Terrier mailform</title>
        <link rel="stylesheet" type="text/css" href="asset/style.css">
    </head>
    <body>
        {{for error}}
        {{@value}}
        {{/for}}
        <form action="{{confirmUrl}}" method="post">
        <div class="component">
            <input type="text" name="name" value="{{value.name}}">
            {{error.name}}
        </div>
        <div class="component">
            <input type="submit" value="send">
        </div>
        </form>
    </body>
</html>

